.popup {
  height: 100vh;
  position: absolute;
  width: 100vw;
  z-index: 20;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.particleContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("/img/bkg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .text {
    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "Abril", serif;
      font-size: 3rem;
      color: white;
      text-shadow: 2px 2px 2px black;
      z-index: 1000;
    }

    p {
      font-family: "Abril", serif;
      font-size: 1rem;
      color: white;
      text-shadow: 2px 2px 2px black;
      z-index: 1000;
      margin: 8px;
      margin-right: 4px;
    }

    .links {
      display: flex;
      position: absolute;
      text-transform: lowercase;
      left: 50%;
      z-index: 1000;
      top: calc(50% + 48px);
      transform: translate(-50%, -50%);

      p {
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}

.close {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 16px;
  right: 16px;
}

@media screen and (max-width: 768px) {
  .popup {
    .photo {
      width: 95%;
      height: auto;
    }
  }

  .close {
    height: 25px;
    width: 25px;
    top: 8px;
    right: 8px;
    position: absolute;
  }
}
